*{margin: 0 auto;text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: seagreen;}

h1{color: darkslategrey;}
h3{color: darkslategrey;}

header{height: 100px; margin-top: 20px;
}

nav{display: flex;flex-wrap: wrap;
justify-items: center;}

section{width: 300px;
    height: 40px;
    margin-top: 30px;
    background-color: mintcream;
    padding: 20px;
    border-radius: 10px;
    border-color: darkslategrey;
    border-style: solid;

}

a{text-decoration: none;
color: inherit;
font-size: 30px; 
}
section:hover{background-color: darkslategrey; color: lightseagreen;
box-shadow: 0px 20px 15px teal;
border: mintcream s;}

