*{margin: 0 auto;font-family:Arial, Helvetica, sans-serif ;}

/* Contenedor Logo iberia*/

header{width: 1200px;
height: 90px;
background-color:brown;
border: solid 2px black;
margin-top: 10px;
margin-bottom: 10px;}

header:hover{ background-color: white; }



.iberia{height: 100px
    ;margin-left: 480px;}

/*Contenedor de principal*/


    section{width: 1200px;
    height: 555px;
    border: solid 2px black;}

    /*Contenedor A*/

    #bisque{width: 600px; 
    height: 125px;
    background-color: bisque;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;}


        /*Reservas y Conexiones*/

        .crimson{width: 130px;
        height: 105px;
        background-color: crimson;
        border: solid 2px black;
        margin-top: 8px;
        margin-left: 100px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        text-align: center;}

        
        h4{color: yellow;
        border:dashed;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-top: 20px;}

        h4:hover{color: black;
        border: dashed black;}


    /*Contenedor B*/

     #gray{width: 600px; 
    height: 125px;
    background-color: gray;
     margin-top: 15px;
    margin-bottom: 15px;
    float: left;}

        /*Lugares*/

        .yellow{width: 380px;
        height: 65px;
        background-color: yellow;
        border: solid 2px black;
        margin-top: 8px;
        margin-left: 100px;
        float: left;
        padding: 20px;}

        .lugares{list-style: none;
        float: left; 
        padding-left: 20px;
        padding-top: 20px;}
        


    /*Contenedor C*/

    #beige{width: 1200px;height:
    400px; 
    background-color: beige ;
    float: left;}

        /*Info de vuelo*/

        .rosybrown{width: 300px;
        height: 300px;
        background-color: rosybrown ;
        border: solid 2px black;
        margin-top: 48px;
        margin-left: 200px;
        float: left;}

        ul{color: white;}

        h3{list-style: none;}

        /*Politicas*/

        .morron{width: 350px;height: 300px;
        background-color: burlywood;
        border: solid 2px black;
        margin-top: 48px;
        margin-left: 220px;
        float: left;
         overflow: scroll;}

        #overflow{ margin: 10px;color: brown;}



/*Contenedor img avion*/


 footer{width: 1200px;
 height: 120px;
 background-color: goldenrod;
 border: solid 2px black;
 margin-top: 10px;
 margin-bottom: 10px;
overflow: hidden;}

 .aeropuerto{width: 1200px;}



