*{align-items: center;
    text-align: center;
    font-family: Ballet;
}

/*Cabeceroo*/

header {background-image: url(img/Elche.jpg);
height: 250px;
width: 100%;}

h1 {font-size: 50px;
padding: 85px;
color:greenyellow;
;}

a{text-decoration: none;}

p{font-family: sans;}
h2{font-family: sans;}

