*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"cofo-sans", sans-serif;
    background-color:#EFE8E2;
    color:#1E1E1E;
}

header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background-color:#1E1E1E;
}

.logo{
    color:#C6A27E;
    
}

nav a{
    text-decoration:none;
    color:#EFE8E2;
    margin: left 15px;;
}

nav a:hover{
    color:#C6A27E;
}

.titulo{
    text-align:center;
    padding:30px;
}

.productos{
    display:flex;
    flex-wrap:wrap;
    padding:2rem;
}

.producto{
    flex-grow:1;
    margin:10px;
    text-align:center;
    border:1px solid #C6A27E;
    padding:15px;
    background-color:#FFFFFF;
}

.producto img{
    width:100%;
}

.producto img:hover{
    filter:grayscale(70%);
}

.producto:hover{
    transform:translateY(-5px);
}

footer{
    text-align:center;
    padding:2rem;
    background-color:#1E1E1E;
    color:#EFE8E2;
}

aside{width: 100%;
height: 600px;
overflow: hidden;}

@media (orientation:portrait){
    .productos{
        flex-direction:column;
    }
}

@media (orientation:landscape){
    .productos{
        flex-direction:row;
    }
}