*{box-sizing: border-box;font-family: 
    'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center;
}

.contenedor{display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 400px;
}
.naranja{background-color: orange;
    width: 150px;
    height: 150px;
}
.amarillo{flex-grow: 2;
    background-color: yellow;
    width: 150px;
    height: 150px;
}
.azulclarito{flex-shrink: 15;
    background-color: aqua;
     width: 150px;
    height: 150px;
}
.azul{flex-grow: 1;
    background-color: blue;
    width: 150px;
    height: 150px;
}
.azuloscuro{background-color: darkblue;
    width: 150px;
    height: 150px;
}
.oscuraco{background-color: midnightblue;
   width: 150px;
    height: 150px;
}

.enlaces{display: flex;
flex-direction: row;
justify-content: center;
margin-top: 20px;
}

.enlaces a{margin-left: 20px;
    color: greenyellow;
}
a:hover{color: red;}
a:visited{color: blueviolet;}
a:active{color: yellow;}

h1{margin-top: 30px;
    font-family:'Times New Roman', Times, serif;}
p{font-family: 'Times New Roman', Times, serif;}