

*{font-family: "Mountains of Christmas", serif;
text-align: center;
align-items: center;}

/*Cuerpo*/

body{border-color: red;
border-style: dashed;
border-width: 2px;}

/*Box flexs*/

main{display: flex;flex-wrap:wrap;justify-content: center;}

section{width: 400px;
height: 170px;
border: 2px red solid;
margin: 8px;
padding-top: 30px;}

img{width: 220px;}

/*footer*/

footer{border-color: green;border-style: solid;
margin-bottom: 30px;
margin-top: 15px;
padding: 30px;}
footer:hover{background: linear-gradient(to top, green, red); 
color: white;}

/*Texto*/

h1{color: green;font-size:60px; letter-spacing: 10px;}
h1:hover{color: red;font-size:60px; letter-spacing: 10px;}

h2{color: white;}
h2:hover{color: black;}

.mountains-of-christmas-regular {
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
}

/*Colores*/

.tricolorvertical{background: linear-gradient(red,green,white);}
.rojo45g{background: linear-gradient(45deg,white, red 20% 90%,white)}
.duocolor{background: linear-gradient(90deg,green,white);}
.duocolorjunto{background: linear-gradient(360deg,red 0 70%,green 80% 100%);}
.tricolor45o{background: linear-gradient(45deg,green 45%, red 45% 70%,white 70%);}
.colorines{background: linear-gradient(90deg, green, white, red, green,white,red);}
