*{
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h1{color: darkolivegreen;}

h4{color: darkolivegreen;}


body{
  background-color: beige;
}

section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
 ;   
}

figure{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 30px;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 filter: sepia();
}

img:hover{
  filter: sepia(0);
}
